/* ------- SIGNUP SECTION ------- */
.footer-signup {
  background-color: #333;
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}

.footer-signup-content {
  margin: 0 auto;
  max-width: 260px;

  @screen xs {
    max-width: 520px;
  }

  @screen md {
    max-width: 820px;
  }
}

.footer-signup-title {
  font-weight: 300;

  @apply leading-100;
  @apply mb-3;
  @apply text-light;
  @apply text-3xl;

  @screen sm {
    @apply text-4xl;
  }

  span {
    font-weight: 700;

    @apply text-accent;
  }
}

.footer-signup-description {
  font-weight: 400;

  @apply leading-400;
  @apply mb-8;
  @apply text-grey-lighter;
  @apply text-lg;
}

.footer-signup-form-wrapper {
  margin: 0 auto;
  max-width: 250px;

  @screen xs {
    max-width: 520px;
  }

  @screen md {
    max-width: 820px;
  }
}

.footer-signup-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 6px 1fr;
  grid-template-areas:
    "name"
    "email"
    "."
    "button";

  @screen md {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "name email"
      "button button";
    grid-gap: 16px;
  }
}

.footer-signup-input {
  @extend .input;
  border: 1px solid theme("colors.grey.light");

  @apply h-12;
  @apply py-1 px-2;
  @apply rounded-sm;

  &:focus {
    @apply bg-yellow-100;
  }
}

.footer-signup-input[name="name"] {
  grid-area: name;
}

.footer-signup-input[name="email"] {
  grid-area: email;
}

.footer-signup-button {
  @extend .button;

  grid-area: button;

  font-weight: 600;
  outline: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;

  @apply bg-accent;
  @apply tracking-widest;
  @apply p-3;
  @apply rounded-sm;
  @apply text-base;

  &:focus,
  &:hover {
    @apply bg-accent-dark;
  }
}

/* ------- CONTENT SECTION ------- */
.footer-content {
  background-color: #222;
  @apply py-12;
}

.footer-content__container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
    "links"
    "contact"
    "social";
  text-align: center;

  @apply gap-10;

  @screen md {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "links social contact";
    justify-items: center;
    text-align: left;

    @apply gap-8;
  }
}

.footer-content__links {
  color: #fff;
  grid-area: links;

  @screen lg {
    justify-self: start;
  }
}

.footer-content__title {
  font-weight: 100;

  @apply leading-100;
  @apply mb-4;
  @apply text-light;
  @apply text-xl;
}

.footer-content__list-item {
  &:hover,
  &:focus {
    .footer-content__list-item-icon,
    .footer-content__list-item-link {
      @apply text-accent;
      @apply fill-current;
    }
  }
}

.footer-content__list-item-icon {
  display: none;
  font-weight: 700;

  @apply text-grey;
  @apply text-lg;
  @apply mr-2;
  @apply fill-current;
  /* @apply stroke-current stroke-0; */

  &:focus {
    outline: 0;
  }

  @screen md {
    display: inline;
  }
}

.footer-content__list-item-link {
  font-weight: 300;

  @apply leading-300;
  @apply text-grey;
  @apply text-lg;

  &:focus {
    outline: 0;
    @apply text-accent;
  }
}

.footer-content__social {
  color: #fff;
  grid-area: social;

  @screen sm {
    margin: 0 auto;
    max-width: 520px;
    width: 100%;
  }
}

.footer-content__icons {
  display: grid;
  grid-template-columns: repeat(3, 88px);
  grid-gap: 8px;

  justify-content: center;
  justify-items: center;

  @screen xs {
    grid-gap: 0;
    grid-template-columns: repeat(4, 88px);
  }
}

.footer-content__icon-link {
  display: inline-block;
  border-radius: 50%;
  line-height: 1;

  transition: all 0.3s;
  @apply text-light;
  @apply text-lg;
  @apply m-4;
  @apply p-5;

  &:focus {
    outline: 0;
    transform: scale(1.2);
  }

  &:hover {
    @apply text-light;
    opacity: 0.9;
    transform: scale(1.1);
  }
}

.footer-content__icon-svg {
  @apply h-6 w-6;
  @apply stroke-current stroke-0 fill-current;
  @apply text-light;
}

.footer-content__contact {
  color: #fff;
  grid-area: contact;

  @screen lg {
    justify-self: end;
  }
}

.footer-content__contact-wrapper {
  font-style: normal;
  font-weight: 300;
  line-height: 1.25;

  @apply leading-200;
  @apply text-grey-light;
  @apply text-lg;
}

.footer-content__contact-group {
  @apply mb-5;
}

.footer-content__contact-link {
  @apply text-grey;

  &:hover {
    @apply text-grey;
  }
}

.footer-content__contact-item {
  @apply text-grey-dark;
}

/* ------- COPYRIGHT ------- */
.footer-copyright {
  background-color: #111;
  @apply py-6 px-3;
}

.footer-copyright-text {
  @apply text-base;
  text-align: center;

  letter-spacing: 0.125em;
  @apply leading-100;
  @apply text-grey-darker;
}
